*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Type Selectors */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  height: 48px;
}

/* Class Selectors */
.calc {
  width: 390px;
}

.calc-header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 16px;
  height: 48px;
}

.display {
  margin-left: auto;
  margin-right: 24px;
}

.calc-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  gap: 8px;
}

.calc-buttons button {
  flex: 1 0 calc(25% - 1rem);
  max-width: 25%;
}

.calc-operators {
  display: flex;
  flex-direction: column;
}

.calc-footer {
  display: flex;
  gap: 8px;
}

.calc-footer button {
  flex: 1 0 calc(50% - 1rem);
  max-width: 50%;
}
